GO_VAR.json
INTELLI_VAR.json
config.json
reports/*
logs/*
node_modules/*
TEST_ELECTRIC_TARIFF.json
TEST_GAS_TARIFF.json
tariff.json
db_connect.json
server/server_config.json

server/web_users.json

server/web_users_codex.json
server/web_users_active.json
